<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-xs-12">
				<button type="button" data-position="Head" data-direction="-1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type="button" data-position="Head" data-direction="1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>				
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button type="button" data-position="Body" data-direction="-1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type="button" data-position="Body" data-direction="1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>		
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button type="button" data-position="Arms" data-direction="-1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type="button" data-position="Arms" data-direction="1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>		
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button type="button" data-position="Waist" data-direction="-1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type="button" data-position="Waist" data-direction="1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>		
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button type="button" data-position="Legs" data-direction="-1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button type="button" data-position="Legs" data-direction="1" class="mhnav btn btn-default">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>		
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div style="position:relative">
			<img class="base" src="/assets/mh_images/Female/0.png" style="position:absolute;"/>
			<img class="Head" data-index="0" src="" style="position:absolute;"/>
			<img class="Body" data-index="0" src="" style="position:absolute;"/>
			<img class="Legs" data-index="0" src="" style="position:absolute;"/>
			<img class="Waist" data-index="0" src="" style="position:absolute;"/>
			<img class="Arms" data-index="0" src="" style="position:absolute;"/>
		</div>
	</div>
</div>